<body>
	<p>Here are the artist...</p>
	<p><%= @artist.class %></p>
	<p><%= @artist.count %></p>
	<p><%= @artist.inspect %></p>
	<p>Here are the titles...</p>
	<p><%= @title.class %></p>
	<p><%= @title.count %></p>
	<p><%= @title.inspect %></p>
</body>