<!-- <body>
	<p>Here are the artist...</p>
	<p><%= @artist.class %></p>
	<p><%= @artist.count %></p>
	<p><%= @artist.inspect %></p>
	<p>Here are the titles...</p>
	<p><%= @title.class %></p>
	<p><%= @title.count %></p>
	<p><%= @title.inspect %></p>
</body> -->



<form action="/" method="post"><!-- 
		<textarea name="content" placeholder="Your note&hellip;"></textarea>
		<input type="submit" value="Take Note!">
		<textarea name="content" placeholder="Your note&hellip;"></textarea> -->
		<input type="submit">
</form>

<p><%= @stuff.inspect %></p>